<util:inputTextAjax label="#{text['$entityBean.shortClassName().firstToLower()$.$field$']}"
					edit="#{edit}"
					value="#{$entityBean.shortClassName()$.$field$}"
					required="$required$"
					size="$size$"
					minlength="$minLength$"
					maxlength="$maxLength$"
					title="#{text['title.$entityBean.shortClassName().firstToLower()$.$field$']}"
					rendered="#{empty render$field.firstToUpper()$ ? 'true' : render$field.firstToUpper()$}"
					id="#{prefix}$field$" >
	<f:attribute name="currentUsername" value="#{currentUsername}" />
	<f:attribute name="foo" value="#{bar}" />
	<ui:insert name="$entityBean.shortClassName().firstToLower()$.$field$"/>
</util:inputTextAjax>
