<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html">

<body>
<ui:composition template="/WEB-INF/af/profile/primeFaces/widgets/viewEditSwitch.xhtml">
	<ui:define name="edit">

		<ui:param name="labelSuffix" value="#{empty labelSuffix ? '?' : labelSuffix}"/>
		<ui:param name="showLabelSuffix" value="#{empty showLabelSuffix ? true : showLabelSuffix}"/>

		<h:selectBooleanCheckbox id="#{id}"
								 onchange="#{onchange}"
								 disabled="#{empty disabled ? 'false' : disabled}"
								 required="#{empty required ? 'false' : required}"
								 title="#{empty title ? label : title}"
								 value="#{value}">
			<ui:insert/>
		</h:selectBooleanCheckbox>
	</ui:define>
	<ui:define name="view">
		<h:outputText value="#{value ? 'yes' : 'no'}"
					  labelSuffix="#{empty labelSuffix ? '?' : labelSuffix}"
					  showLabelSuffix="#{empty showLabelSuffix ? true : showLabelSuffix}"
					  id="#{id}View"/>
	</ui:define>
</ui:composition>
</body>
</html>
