<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:p="http://primefaces.org/ui">

	<h:panelGroup>

		<ui:insert name="forceElement"/>

		<div class="property" id="#{id}Property">
			<ui:insert name="beforeLabel"/>

			<h:outputLabel id="#{id}l" value="#{label}" styleClass="name #{noBreak? 'noBreak' : ''}" for="#{id}">
				<h:outputText value="#{empty labelSuffix ? ':' : labelSuffix}"
							  rendered="#{empty showLabelSuffix ? true : showLabelSuffix}"/>
				<ui:fragment rendered="#{required or forceRequired}">
					<span class="required">*</span>
				</ui:fragment>
			</h:outputLabel>

			<span id="#{prefix}#{id}Value" class="value">
				<ui:insert/>
			</span>

			<h:panelGroup layout="block" styleClass="errorElement">
				<ui:insert name="messages">
					<p:message for="#{id}" id="#{id}m"/>
				</ui:insert>
			</h:panelGroup>
		</div>
	</h:panelGroup>
</ui:composition>
