<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:h="http://java.sun.com/jsf/html">
<body>
<ui:composition template="/WEB-INF/af/profile/primeFaces/widgets/viewEditSwitch.xhtml">
	<ui:define name="edit">
		<p:inputText
				styleClass="#{inputClass}"
				rendered="#{empty rendered ? 'true' : rendered}"
				required="#{empty required ? 'false' : required}"
				id="#{id}"
				maxlength="#{empty maxlength ? '255' : maxlength}"
				size="#{empty size ? '20' : size}"
				title="#{empty title ? label : title}"
				value="#{value}">
			<ui:insert/>
		</p:inputText>
	</ui:define>
	<ui:define name="view">
		<ui:fragment rendered="#{not empty email and email}">
			<h:outputLink id="link#{id}" styleClass="email" destination="#{value}"
						  rendered="#{not empty value}" target="_blank" title="Link to #{label}"
						  value="mailto:#{value}">#{value}</h:outputLink>
		</ui:fragment>
		<ui:fragment rendered="#{empty email or not email}">
			<h:outputText id="ro#{id}" rendered="#{not empty value}" title="#{title}"  value="#{value}"/>
		</ui:fragment>
	</ui:define>
</ui:composition>
</body>
</html>
