<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
	>
<body>
<ui:composition template="/WEB-INF/af/profile/primeFaces/widgets/viewEditSwitch.xhtml">
    <ui:define name="edit">
	<p:inputText
		rendered="#{empty rendered ? 'true' : rendered}"
		required="#{empty required ? 'false' : required}"
		id="#{id}"
		label="aa"
		maxlength="#{empty maxlength ? '255' : maxlength}"
		size="#{empty size ? '20' : size}"
		title="#{empty title ? label : title}"
		value="#{value}">
	    <p:ajax event="blur" update="#{id},#{id}m"/>
	    <ui:insert/>
	</p:inputText>
    </ui:define>
</ui:composition>
</body>
</html>
