<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html">
<body>
<ui:component rendered="#{empty rendered ? true : rendered}">
	<ui:decorate template="/WEB-INF/af/profile/primeFaces/widgets/display.xhtml">
		<ui:param name="labelSuffix" value="#{empty labelSuffix ? ':' : labelSuffix}"/>
		<ui:param name="showLabelSuffix" value="#{empty showLabelSuffix ? 'true' : showLabelSuffix}"/>
		<ui:insert name="view">
			<h:outputText value="#{value}" escape="#{empty escape ? 'true' : escape}">
				<ui:insert/>
			</h:outputText>
		</ui:insert>
	</ui:decorate>
</ui:component>
</body>
</html>
