<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<body>
<ui:composition template="/WEB-INF/af/profile/primeFaces/widgets/viewEditSwitch.xhtml">
    <ui:define name="edit">
	<ui:decorate id="#{id}Decoration"
		     template="/layout/formElement/edit.xhtml">
	    <ui:define name="label">#{label}</ui:define>
	    <ui:fragment rendered="#{type == 'enum'}">
		<h:selectManyListbox
			size="8"
			id="#{id}enum" value="#{value}">
		    <ui:insert name="insert"/>
		</h:selectManyListbox>
	    </ui:fragment>
	    <ui:fragment rendered="#{type == 'entity'}">
		<h:selectManyListbox size="8" id="#{id}entity" value="#{value}">
		    <f:converter converterId="generalConverter"/>
		</h:selectManyListbox>
	    </ui:fragment>
	    <ui:fragment rendered="#{type == 'list'}">
		<h:selectManyListbox size="8" id="#{id}list"
				     onchange="#{empty onchange ? '' : onchange}" value="#{value}">
		    <ui:insert name="insert"/>
		</h:selectManyListbox>
	    </ui:fragment>
	</ui:decorate>
    </ui:define>
    <ui:define name="tooltip">
	<p:tooltip for="#{id}enum" styleClass="inTip" showEvent="focus" hideEvent="blur"/>
	<p:tooltip for="#{id}entity" styleClass="inTip" showEvent="focus" hideEvent="blur"/>
	<p:tooltip for="#{id}list" styleClass="inTip" showEvent="focus" hideEvent="blur"/>
    </ui:define>
    <ui:define name="messages">
	<div id="#{id}enumMessage" class="errorElement serverError">
	    <p:message for="#{id}enum" styleClass="error errors"/>
	</div>
	<div id="#{id}entityMessage" class="errorElement serverError">
	    <p:message for="#{id}entity" styleClass="error errors"/>
	</div>
	<div id="#{id}listMessage" class="errorElement serverError">
	    <p:message for="#{id}list" styleClass="error errors"/>
	</div>
    </ui:define>
</ui:composition>
</body>
</html>
